/* CSS Document */
*{margin:0px;padding:0px;}
a{text-decoration: none;font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";color:#fff;}
.r{border:1px solid red;}

/*---------header-----------*/
#header{height:750px;background:url(../img/banner.jpg);background-size:cover;border:1px solid #fff;box-sizing: border-box;}


.logo{text-decoration: none;font-size:24px;font-weight: 700;float: left;letter-spacing: 5px;}
.navbar{height:30px;list-style: none;float:right;}
.navbar li{float:left;line-height: 30px;}
.navbar li a{text-decoration: none;font-size:16px;display: block;font-weight: 700; margin-left: 40px;color:#ccc;}
.navbar li a:hover{color:#fff;}
.p_1{width:950px;font-family: '微软雅黑';font-weight: bold;color:#fff;font-size:3.77em;text-transform: uppercase;margin:250px auto 0px;text-align: center;letter-spacing: 2.5px;}
.p_2{width:920px;margin:20px auto;font-size:15px;text-align: center;color:#ccc;font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}
.btn_1{width:170px;height:45px;background:#3bc492;color:#fff;border:none;cursor:pointer;transition: all 1s;border-radius: 3px;font-weight: 700;margin:60px auto 0px;display: block;outline: none;}
.btn_1:hover{background:rgb(61,61,61);}


/*---------about-----------*/
#about{height:300px;background:#00aeda;position:relative;}
.about_box{width:720px;height:100px;text-align: center;margin:auto;position:absolute;left: 0;top:0;right:0;bottom:0;color:#fff;}
.about_box h2{font-size:30px;margin:0px 0px 10px;}
.about_box p{color:rgba(255,255,255,0.7)}

/*---------ser-----------*/
#ser{width:100%;height:566px;position:relative;}
.row{width:1200px;height:380px;margin:auto;position:absolute;left: 0;top:0;right:0;bottom:0;}
.row_cont{width:390px;text-align: center;display: inline-block;margin-bottom: 30px;}
.row_cont span{font-size:50px;color:#00aeda;}
.two{margin-top:30px;}
.two h5{font-family: '微软雅黑'}
.two p{color:#6c7279;margin-top:10px;font-size:13px;}

/*---------works-----------*/
#works{height:980px;width:100%;}
.works_box{width:100%;margin:0px auto;text-align: center;}
.words_cont{width:24.9%;height:auto;position:relative;float:left;margin: 0px 1px 2px 0px;}
.words_cont img{vertical-align:top;width:100%;}
.js{width:40%;height:30px;position:absolute;left:0px;top:0px;bottom:0px;right:0px;margin:auto;text-align: center;font-family: '微软雅黑'}
.js h5{font-size:1.2em;}

/*---------team-----------*/
#team{height:400px;}
#team_box{width:1200px;margin:100px auto 0px;}
.team_cont{width:292px;height:366px;text-align: center;float: left;margin:0px 4px 0px 0px;}
.team_cont img{border-radius:100px;}
.team_cont h3{margin:10px 0px 0px 0px;font-family: '微软雅黑'}
.team_cont span{font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";color:#00aeda;}
.team_cont p{color:#6c7279;margin-top:15px;font-size:13px;}
.team_cont ul{list-style: none;width:52%;margin:20px auto;}
.team_cont ul li{float:left;width:30px;}
.team_cont ul li i{transition:all 0.5s;cursor:pointer;}
.team_cont ul li i:hover{color:#00aeda;}

/*---------test-----------*/
#test{height:388px;background:#00aeda;}
.test_box{text-align: center;color:#fff;position:relative;border:1px solid #00aeda;box-sizing: border-box;}
.test_text{width:70%;margin:7% auto 0px;font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";display: none;}
.test_text > .p1{font-size:25px;margin-bottom: 30px;}
.test_text > .p2{letter-spacing: 3px;font-size:10px;}
.dis{display: block;}
.test_box ul{width:105px;margin:30px auto;list-style: none;}
.test_box ul li{float: left;width:11px;height:11px;background:#fff;border-radius: 100px;margin-right: 15px;opacity: 0.5;cursor:pointer;}


/*---------contact-----------*/
#contact{height:620px;text-align: center;}
#contact h2{font-family: '微软雅黑';margin-top:100px;font-size:30px;}
#contact p{color:#6c7279;margin:40px auto;font-size:13px;width:750px;}
.name,.email{width:600px;border:none;border-bottom:1px solid #ccc;outline: none;padding:0px 0px 10px 20px;font-size:14px;margin:0px 0px 30px 0px;font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"}
.textarea{width:600px;height:150px;padding:0px 0px 10px 20px;border:none;border-bottom:1px solid #ccc;outline: none;font-size:14px;font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"}
.btn_2{width:250px;height:45px;background:#3bc492;color:#fff;border:none;cursor:pointer;transition: all 1s;border-radius: 3px;font-weight: 700;margin:60px auto 0px;display: block;text-transform: uppercase;letter-spacing: 5px;outline: none;}
.btn_2:hover{background:rgb(61,61,61);}

/*---------footer-----------*/
#foot{height:310px;background:#181818;border:1px solid #181818;box-sizing: border-box;}
.col{width:1200px;margin:50px auto 0px;}
.col > div{float:left;}
.col > div > h4{color:#fff;font-family: '微软雅黑'}
.col > div > p{color:#ccc;font-size:13px;line-height: 25px;margin-top:20px;}
.col_2 ul{list-style: none;}
.col a{color:#ccc;transition:all 0.5s;}
.col a:hover{color:#e84545;}
.col_3 ul{list-style: none;}
.col_3 ul li{float: left;width:35px;font-size:25px;color:#ccc;}
.col_1{width:55%;}
.col_2{width:30%}
.col_3{width:15%}

/*--------------导航固定样式----------------*/
.nav1{width:100%;height:80px;background:#fff;border:1px solid #fff;box-sizing:border-box;position:fixed;z-index:100;top:0px;left:0px;}
.nav{width:1200px;margin:25px auto 0px;}
.logo1{text-decoration: none;font-size:24px;font-weight: 700;float: left;letter-spacing: 5px;color:#000;}
.navbar1{height:30px;float: right;list-style: none;position:relative;z-index: 101;}
.navbar1 li{float:left;line-height: 30px;}
.navbar1 li a{text-decoration: none;font-size:16px;display: block;font-weight: 700; margin-left: 40px;color:#000;}


/*--------------案例----------------*/
.zhezhao{width:100%;height:100%;background:rgba(0, 174, 2181,0.7);float:left;position:absolute;z-index:0;top:0px;display: none;}


@media screen and (max-width:1200px){
	/*-----------nav-------------*/
	#header{height:710px;}
	.nav{width:100%;}
	.p_1{width:800px;margin:16% auto 0px}
	.p_2{width:790px;}
	
	/*-----------ser-------------*/
	.row{width:980px;}
	.row_cont{width:300px;}
	.conter{margin:0px 29px;}
	
	
	/*-----------works-------------*/
	.words_cont{width:49.8%;}
	#works{height:2306px;}
	
	/*-----------team-------------*/
	#team_box{width:980px;}
	.team_cont{width:239px;}
	.team_cont p{width:80%;margin:10px auto;}
	.team_cont ul{width:62.8%;}
	
	/*-----------foot-------------*/
	.col{width:980px;}
}

@media screen and (max-width:980px){
	/*-----------nav-------------*/
	.navbar{display:none;}
	.logo{margin-left: 15px;}
	.p_1,.p_2{width:720px;}
	.disnavbar{display: inline-block;color:rgb(232,69,69);float:right;margin-right: 50px;border-radius: 100px;cursor:pointer;position:relative;z-index: 200;}
	#disul{width:100%;background:rgba(0,0,0,0.9);position:absolute;top:0px;left:0px;padding-top: 20%;display: none;z-index: 100;}
	#disul li{width:100%;height:60px;text-align: center;font-size:40px;}
	#disul li a{color:rgba(255,255,255,0.7);}
	#disul li a:hover{color:rgba(255,255,255,1)}
	.navbar1{display: none;}
	
	/*-----------ser-------------*/
	#ser{height:600px;margin-top:50px;}
	.row{width:720px;height:100%}
	.row_cont{width:350px;}
	.row_cont p{width:330px;}
	.conter{margin:0px;}
	
	#works{height:1750px;}
	.js{width:100px;}
	
	
	
	/*-----------team-------------*/
	#team{height:800px;}
	#team_box{width:720px;height:800px;}
	.team_cont{width:350px;}
	.team_cont ul{width:43%;}
	
	.about_box p{width:720px;}
	/*-----------test-------------*/
	#test{height:300px;}
	.test_text{width:650px;}
	.test_text .p1{font-size:22px;}
	
	#contact p{width:600px;}
	
	#foot{width:100%;height:650px;}
	.col{height:auto;}
	.col div{clear: both;width:680px;margin-left: 20px;}
	.col_2,.col_3{margin-top:80px;}
	.col h4{font-size:20px;width:300px;}
	.col ul{width:100%}

}

@media screen and (max-width:750px){
	#header,#about,#ser,#works,#team,#test,#contact,#footer{width:100%;}
	.p_1{width:97%;font-size:30px;margin:30% auto 0px;}
	.p_2{width:90%;}
	
	.about_box{width:100%;}
	.about_box h2{font-size:23px;width:100%}
	.about_box p{width:95%;margin: 0px auto;font-size:13px;}
	
	#ser{height:1180px;}
	.row{width:100%;}
	.row_cont{width:90%;margin:0px auto 40px;display: block;}
	.row p{width:90%;}
	
	#works{height:3582px}
	#works_box{width:100%;}
	.words_cont{width:100%;display: block;}
	.js{width:200px;}
	.js p{width:200px;}
	
	#team{height:1650px;}
	#team_box{width:100%;}
	.team_cont{width:100%;margin-bottom: 40px;margin-right: 0px;}
	.team_cont p{width:65%;}
	.team_cont ul{width:34%;}
	
	#test{height:300px;}
	.test_text{width:90%;}
	.test_text .p1{font-size:20px;}
	
	#contact p{width:80%}
	#contact .name,.textarea,.email{width:330px;}
	
	.col{width:100%;}
	.col div,p{width:380px;}
	
	
}




@media screen and (min-width:980px){
	#disnavbar,#disul{display: none;}
	.test_text{width:700px;}
}









